body {
    margin: 0px;
    padding: 0px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    height: 100px;
}

header nav {
    height: 100px;
    background: grey;
    box-shadow: none;
    height: 70px;
}
.row .col.s12 {
    display: flex;
    justify-content: center;
}

.brand-logo img {
    width: 70px;
}

.card-panel {
    display: inline-block;
    justify-content: center;
}

.page-footer {
    background-color: #26a69a;
    margin-top: auto;
    /* align-items: flex-end; */
}
